<html>
  <head>
    <title>Contact Manager</title>
    <style>
        .newspaper {
            -webkit-column-count: 4; /* Chrome, Safari, Opera */
            -moz-column-count: 4; /* Firefox */
            column-count: 4;
        }
        .head {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="head">
        <h1>CONTACT MANAGER</h1>
        <h2>using MongoDB</h2>
    </div>
    <div class="newspaper">
        <form method="POST">
            {{ cform.hidden_tag() }}
            <fieldset>
                <legend>Add Contact</legend>
                {{ cform.number.label }}<br>
                {{ cform.number }}<br><br>
                {{ cform.name.label }}<br>
                {{ cform.name }}<br><br>
                {{ cform.add }}
            </fieldset>
        </form>
        <form  method="POST">
            {{ uform.hidden_tag() }}
            <fieldset>
                <legend>Update Contact</legend>
                {{ uform.number.label }}<br>
                {{ uform.number }}<br><br>
                Set Update<br><br>
                {{ uform.name.label }}<br>
                {{ uform.name }}<br>
                {{ uform.update }}
            </fieldset>
        </form>
        <form method="POST">
            {{ sform.hidden_tag() }}
            <fieldset>
                <legend>Search Contact</legend>
                {{ sform.name.label }}<br>
                {{ sform.name }}<br>
                OR<br>
                {{ sform.number.label }}<br>
                {{ sform.number }}<br><br>
                {{ sform.search }}
            </fieldset>
        </form>
        <form method="POST">
            {{ dform.hidden_tag() }}
            <fieldset>
                <legend>Delete Contact</legend>
                {{ dform.name.label }}<br>
                {{ dform.name }}<br>
                {{ dform.delete }}
            </fieldset>
        </form>
        <form method="POST">
            {{ reset.hidden_tag() }}
            <b>Reset All Data: </b> {{ reset.reset }}
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <b>Contacts List:</b><br><br>
    {% for i in data %}
        ID = {{ i["id"] }} <br>
        Contact Name = {{ i["name"] }}<br>
        Contact Number = {{ i["number"] }} <br>
    {% endfor %}
  </body>
</html>
